/* =========================
   GENERAL
========================= */
body {
    background-color: #f5f7fa;
}

h2 {
    font-weight: bold;
}


/* =========================
   NAVBAR
========================= */
.custom-navbar {
    background-color: white;
    border-bottom: 2px solid #eee;
}

.navbar .nav-link {
    color: #1b5e20;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #2e7d32;
}

.nav-logo {
    width: 110px;
    height: auto;
}

.right-menu {
    white-space: nowrap;
}


/* =========================
   ICONOS
========================= */
.nav-icon {
    font-size: 18px;
    color: #1b5e20;
}

.nav-icon-img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.mini-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.cart-icon {
    width: 18px;
    height: 18px;
}


/* =========================
   TEXTOS
========================= */
.login-text {
    font-size: 14px;
}

.small-text div {
    font-size: 11px;
    line-height: 1;
}

.small-text strong {
    font-size: 13px;
    color: #1b5e20;
}


/* =========================
   BARRAS SUPERIORES
========================= */
.top-bar {
    background-color: #89d957;
    color: white;
    padding: 12px;
}

.promo-bar {
    background-color: #fbc02d;
    color: #1b5e20;
    padding: 8px;
    font-weight: 600;
}


/* =========================
   BOTONES
========================= */
.cart-btn {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: #cddc39;
    color: #1b5e20;

    border: none;
    border-radius: 25px;

    padding: 10px 18px;

    font-weight: bold;
}

.hero-btn {
    position: absolute;

    bottom: 6%;
    left: 17%;

    transform: translateX(-50%);

    background-color: #cddc39;
    color: #1b5e20;

    border: none;
    border-radius: 30px;

    padding: 9px 75px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}


/* =========================
   CARDS
========================= */
.card {
    border: none;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}


/* =========================
   HERO
========================= */
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}


/* =========================
   PROMOCIONES
========================= */
.promo-images {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    padding: 30px 0;
}

.promo-img-1 {
    width: 750px;
    height: auto;
}

.promo-img-2 {
    width: 900px;
    height: auto;
}