/* =========================
   GENERAL
========================= */
body {
    background-color: #f5f7fa;
}

h2 {
    font-weight: bold;
}


/* =========================
   NAVBAR
========================= */
.custom-navbar {
    background-color: white;
    border-bottom: 2px solid #eee;
}

.navbar .nav-link {
    color: #1b5e20;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #2e7d32;
}

.nav-logo {
    width: 110px;
    height: auto;
}

.right-menu {
    white-space: nowrap;
}


/* =========================
   ICONOS
========================= */
.nav-icon {
    font-size: 18px;
    color: #1b5e20;
}

.nav-icon-img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.mini-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.cart-icon {
    width: 18px;
    height: 18px;
}


/* =========================
   TEXTOS
========================= */
.login-text {
    font-size: 14px;
}

.small-text div {
    font-size: 11px;
    line-height: 1;
}

.small-text strong {
    font-size: 13px;
    color: #1b5e20;
}


/* =========================
   BARRAS SUPERIORES
========================= */
.top-bar {
    background-color: #89d957;
    color: white;
    padding: 12px;
}

.promo-bar {
    background-color: #fbc02d;
    color: #1b5e20;
    padding: 8px;
    font-weight: 600;
}

.hero-img-1 {

    width: 100%;
    max-width: 1400px;

    height: auto;

    display: block;

    margin: 0 auto;
}